SUPABASE_URL=
NEXT_APP_HOST=acme.com # the app domain, localhost:app-port, or link to forwarded port

EXPRESS_PORT=8080
EXPRESS_SERVER_HOST=acme.com/api # the app domain/api (reverse proxy or some shit to figure out later), localhost:server-port or link to forwarded port